<style>

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-..." crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />



<section class="section-rating" th:fragment="feedback-section">
  <div class="star-rating-bx">
    <h2 class="text-center">Feedback</h2>
    <div class="star-widget">
      <form method="GET" name="feedback" action="#" onsubmit="feedBack(); return false">
        <input type="radio" name="star" id="rate-5" value="5">
        <label for="rate-5" class="fa-solid fa-star"></label>
        <input type="radio" name="star" id="rate-4" value="4">
        <label for="rate-4" class="fa-solid fa-star"></label>
        <input type="radio" name="star" id="rate-3" value="3">
        <label for="rate-3" class="fa-solid fa-star"></label>
        <input type="radio" name="star" id="rate-2" value="2">
        <label for="rate-2" class="fa-solid fa-star"></label>
        <input type="radio" name="star" id="rate-1" value="1">
        <label for="rate-1" class="fa-solid fa-star"></label>
        <p id="error-rating"></p>
        <p class="rating-desc"></p>
        <div class="textarea">
          <textarea cols="30" id="comment" placeholder="Describe your comment"></textarea>
          <p id="error-comment"></p>
        </div>
        <div class="btn">
          <button type="submit">Submit</button>
        </div>
        <div class="modal fade" id="simpleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Thank you</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onClick="reload"></button>
              </div>
              <div class="modal-body">
                <p>We appreciate you sending us your feedback.</p>
                <p><strong>You're select </strong>⭐ <span id="star_count"></span></p>
                <p><strong>Your comment </strong><span id="comment_text"></span></p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<script rel="script" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>

<script>
  function feedBack() {

    if (document.getElementById('comment').value === '') {
      document.getElementById('error-comment').innerHTML = "* Please enter comment";
    } else {
      document.getElementById('error-comment').innerHTML = "";
    }

    if ($("input[type=radio]:checked").val() === 'undefined') {
      document.getElementById('error-rating').innerHTML = "* Please choose any star";
      alert('Please choose any star');
    } else {
      document.getElementById('error-rating').innerHTML = "";
    }

    var rating_Count = document.querySelector("input[name=star]:checked").value;
    var comment = document.getElementById('comment').value;
    $("#simpleModal").modal('show');

    // alert(x);
    console.log(comment);
    console.log(rating_Count);
    document.getElementById('comment_text').innerHTML = comment;
    document.getElementById('star_count').innerHTML = rating_Count;
  }
</script>