body, html, *{
    font-family: "EB Garamond";
}
.minorease{
    font-family: Cinzel;
    color: #FCF641;
    font-size: 36px;
}
h1, h2, h3{
    font-weight: bold;
}
h1{
    color: #1A1A4C;
    font-size: 28px;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 18px;
}
.bouton{
    background: #1A1A4C;
    border-radius: 10px;
    color: #FCF641;
    font-family: "EB Garamond";
    font-size: 24px;
}
.bouton:hover{
    border: solid 2px #FCF641;
}
.cadre{
    background: #1A1A4C;
    border-radius: 15px;
    width: 70%;
}
.dest{
    width : 75%;
}
.libelle{
    color: #FCF641;
}
.champ{
    height: 24px;
}

.fas {
    color: lightgray;
}