<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CGU</title>
  <!--Police-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>

<div class="d-flex flex-column text-justify text-break">
  <h2>Conditions Générales d'Utilisation (CGU)</h2>

  <p>Veuillez lire attentivement les présentes Conditions Générales d'Utilisation (CGU) avant d'utiliser le site web
    Minorease. En accédant ou en utilisant ce site, vous acceptez d'être lié par ces conditions.<br>
    <br>
    Utilisation du site :<br>
    Le site web Minorease est mis à disposition dans le but de fournir des informations sur nos services et produits.
    Vous acceptez de n'utiliser ce site qu'à des fins légales, conformément aux lois et réglementations applicables.<br>
    <br>
    Contenu du site :<br>
    Le contenu présent sur le site Minorease est fourni à titre informatif uniquement. Nous nous efforçons de garantir
    l'exactitude et l'actualité des informations, mais nous ne pouvons garantir ni l'exhaustivité ni l'exactitude du
    contenu. Vous reconnaissez que l'utilisation des informations présentes sur le site se fait à vos propres risques.<br>
    <br>
    Compte utilisateur :<br>
    Certains services ou fonctionnalités du site peuvent nécessiter la création d'un compte utilisateur. Vous êtes
    responsable de la confidentialité des informations de votre compte et de toutes les activités qui s'y rapportent.
    Vous vous engagez à fournir des informations exactes, complètes et à jour lors de la création de votre compte.<br>
    <br>
    Propriété intellectuelle :<br>
    Tous les droits de propriété intellectuelle relatifs au site Minorease, y compris les textes, les images, les logos,
    les marques, les vidéos, les graphiques, etc., sont la propriété exclusive de Minorease ou de ses concédants de
    licence. Il est interdit de reproduire, de distribuer ou d'utiliser tout contenu du site sans autorisation
    préalable.<br>
    <br>
    Liens externes :<br>
    Le site Minorease peut contenir des liens vers des sites tiers. Ces liens sont fournis uniquement pour votre
    commodité et n'impliquent aucune approbation de notre part quant au contenu de ces sites. Nous déclinons toute
    responsabilité quant au contenu ou à la disponibilité des sites tiers.<br>
    <br>
    Limitation de responsabilité :<br>
    Dans les limites autorisées par la loi, Minorease décline toute responsabilité pour tout dommage ou préjudice direct,
    indirect, accessoire, spécial ou consécutif résultant de l'utilisation ou de l'impossibilité d'utiliser le site ou
    de se fier à son contenu.<br>
    <br>
    Modifications des CGU :<br>
    Minorease se réserve le droit de modifier les présentes Conditions Générales d'Utilisation à tout moment. Les
    modifications prendront effet dès leur publication sur le site. Il est de votre responsabilité de consulter
    régulièrement les CGU afin de prendre connaissance des éventuelles mises à jour.<br>
    <br>
    Droit applicable et litiges :<br>
    Les présentes CGU sont régies par le droit français. En cas de litige relatif à l'utilisation du site Minorease, les
    tribunaux compétents de Brest seront seuls compétents.
  </p>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!--BootStrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
<!--JavaScript-->
<script src="../static/js/script.js" th:src="@{/js/navbar.js}" type="module"></script>
</body>
</html>