<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Politique de confidentialité</title>
    <!--Police-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<div class="d-flex flex-column text-justify text-break">
    <h2>Politique de Confidentialité</h2>

    <p>La présente politique de confidentialité régit la manière dont Minorease collecte, utilise, stocke et divulgue
        les informations personnelles recueillies auprès des utilisateurs du site web Minorease. En utilisant ce site,
        vous acceptez les pratiques décrites dans la présente politique.<br>
        <br>
        Collecte d'informations :<br>
        Nous collectons certaines informations personnelles lorsque vous utilisez notre site. Cela peut inclure votre
        nom, votre adresse e-mail, votre numéro de téléphone et d'autres informations pertinentes pour vous fournir nos
        services.<br>
        <br>
        Utilisation des informations :<br>
        Les informations que nous collectons sont utilisées dans le but de vous fournir nos services, de personnaliser
        votre expérience utilisateur, de répondre à vos demandes, de traiter les paiements et de vous informer des mises
        à jour et des offres spéciales. Nous pouvons également utiliser ces informations à des fins statistiques et
        d'analyse interne.<br>
        <br>
        Stockage des informations :<br>
        Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre
        toute utilisation abusive, perte, accès non autorisé, divulgation ou modification. Vos informations sont
        conservées aussi longtemps que nécessaire pour atteindre les objectifs mentionnés dans la présente politique de
        confidentialité, sauf si une période de conservation plus longue est requise ou autorisée par la loi.<br>
        <br>
        Divulgation des informations :<br>
        Nous ne divulguons pas vos informations personnelles à des tiers, sauf dans les cas suivants : lorsque cela est
        nécessaire pour fournir nos services, lorsque cela est exigé par la loi, ou lorsque vous avez donné votre
        consentement préalable.<br>
        <br>
        Cookies :<br>
        Nous utilisons des cookies sur notre site afin d'améliorer votre expérience utilisateur, d'analyser les
        tendances, d'administrer le site et de collecter des informations démographiques. Vous pouvez choisir de
        désactiver les cookies dans les paramètres de votre navigateur, mais cela peut limiter certaines fonctionnalités
        du site.<br>
        <br>
        Liens externes :<br>
        Notre site peut contenir des liens vers des sites tiers. Nous n'avons aucun contrôle sur le contenu ou les
        pratiques de confidentialité de ces sites. Nous vous encourageons à consulter les politiques de confidentialité
        de ces sites tiers avant de fournir vos informations personnelles.<br>
        <br>
        Droits des utilisateurs :<br>
        Vous avez le droit d'accéder à vos informations personnelles, de les corriger, de les mettre à jour ou de les
        supprimer. Vous pouvez également vous opposer au traitement de vos informations personnelles ou demander leur
        limitation. Veuillez nous contacter aux coordonnées fournies ci-dessous pour exercer ces droits.<br>
        <br>
        Modification de la politique de confidentialité :<br>
        Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications
        prendront effet dès leur publication sur le site. Nous vous encourageons à consulter régulièrement cette
        politique pour prendre connaissance des éventuelles mises à jour.<br>
        <br>
        Nous contacter :<br>
        Si vous avez des questions concernant cette politique de confidentialité ou si vous souhaitez exercer vos droits
        concernant vos informations personnelles, veuillez nous contacter à l'adresse suivante :<br>
        Minorease<br>
        23 rue du renard<br>
        29200 Brest<br>
        E-mail : contact@minorease.com<br>
</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<!--BootStrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
<!--JavaScript-->
<script src="../static/js/script.js" th:src="@{/js/navbar.js}" type="module"></script>
</body>
</html>