<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Minorease Inscription</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
    <style>
        body, html {
            padding: 0 !important;
            margin: 0 !important;
        }
        .favorite-btn {
            background-color: #ccc;
            color: #fff;
        }
        .favorite-btn.added {
            background-color: #ff0000;
        }
    </style>
    <link th:rel="stylesheet" href="/css/style.css">
</head>

<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>
<div class="p-3 m-0 border-0 bd-example m-0 border-0">

    <p class="h1" th:text="${hotel.name}">Hotel Name</p>
    <img th:src="@{/images/pin.png}" alt="logo" width="15" height="15">
    <span class="h6" th:text="${hotel.location}">Hotel Address</span>
    <br>
    <img th:src="@{/images/rating.png}" alt="logo" width="15" height="15">
    <span class="h6" th:text="${hotel.rating}">Hotel Rating</span>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="mb-3 text-center">
                    <!-- Bouton "Cœur" pour ajouter l'hôtel aux favoris -->
                    <button class="btn btn-outline-primary favorite-btn" onclick="toggleFavorite(this)">
                        <i class="fas fa-heart"></i> Favoris
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <div id="carouselExampleFade" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div class="carousel-item active" th:each="hotelImage, hotelImageIndex : ${hotel.image}">
                            <img th:src="${hotelImage}" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
                                 width="800"
                                 height="400" role="img" aria-label="Placeholder: First slide"
                                 preserveAspectRatio="xMidYMid slice"
                                 focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#777"></rect>
                            <text x="50%" y="50%" fill="#555" dy=".3em"></text>
                        </div>
                        <div class="carousel-item">
                            <img th:src="${room.image}" class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
                                 width="800"
                                 height="400" role="img" aria-label="Placeholder: Second slide"
                                 preserveAspectRatio="xMidYMid slice"
                                 focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#666"></rect>
                            <text x="50%" y="50%" fill="#444" dy=".3em"></text>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row">
            <div class="col-sm-4">
                <p class="h5">
                    <i class="fas fa-smoking"></i> No smoking
                </p>
                <p class="h5">
                    <i class="fas fa-paw"></i> Pets allowed
                </p>
            </div>
            <div class="col-sm-4">
                <p class="h5">
                    <i class="fas fa-wifi"></i> Wifi
                </p>
                <p class="h5">
                    <i class="fas fa-clock"></i> Réception ouverte 24h/24
                </p>
            </div>
            <div class="col-sm-4">
                <p class="h5">
                    <i class="fas fa-concierge-bell"></i> Service d'étage
                </p>
                <p class="h5">
                    <i class="fas fa-users"></i> Chambres familiales
                </p>
            </div>
        </div>
    </div>


    <div class="container my-4">
        <div class="row">
            <div class="col-sm-4">
                <div class="card-body" id="map">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${hotel.location}">Card title</h5>
                        <a href="#" class="btn btn-outline-primary">Go to map</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 align-self-center">
                <p class="lead" th:text="${room.description}"></p>
            </div>
            <div class="col-sm-2 align-self-center">
                <p class="h4" th:text="${room.price + '€/nuit'}"></p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="mb-3 text-center">
                    <button class="btn btn-outline-primary" th:onclick="|window.location='/room/${room.id}/reservation'|">Reserver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="/js/script.js"></script>
<script th:each="hotel : ${hotels}" th:object="${hotel}" th:inline="javascript">
    addMarkerOnMap([[${hotel.latitude}]], [[${hotel.longitude}]], [[${hotel.name}]], [[${hotel.location}]]);
</script>
<script>
    function visit(url) {
        window.location.href=url;
    }
</script>
<script>
    // Fonction pour changer l'état du bouton favori
    function toggleFavorite(button) {
        button.classList.toggle("added"); // Ajoute ou supprime la classe "added"
    }
</script>
<script th:src="@{/js/navbar.js}"></script>

</body>
</html>